#wrapper{
    text-align:center;
}

#menu{
    text-align:center;
}

#select_mode{
    width:120px;
    height:30px;
}

#select_first{
    width:40px;
    height:30px;
    font-size:20px;
}

#button_reset{
    margin-left:70px;
    height:30px;
}

#board{
    margin:auto;
    border-spacing:5px;
    user-select: none;
}

#result{
    text-align:center;
    font-size:20px;
}

.cell{
    width:80px;
    height:80px;
    text-align:center;
    font-size:50px;
    border:rgb(36, 36, 36) 2px solid;
    background: rgb(240, 240, 240);
    transition: all 0.5s ease;
    border-radius:5px;
    cursor:pointer;
}

.cell:hover{
    background: rgb(216, 216, 216) !important; 
}